muleapplication/src/main/mule/muleapplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99259f3b-c24e-4dfb-8e24-0919d282a589" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleapplicationFlow" doc:id="dd0d34e2-f662-493b-90ca-087b1f59aedc" >
		<http:listener doc:name="Listener" doc:id="bc3323f4-1057-45d8-bfdb-a78aa65f4c49" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="68522eb6-2626-4832-b619-df73e784f26b" />
	</flow>
</mule>
